@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
// Colors

$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

// Reset

@mixin textTemplate($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: $light-grey;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: white;
    height: 600px;
    width: 800px;
    border-radius: 2rem 2rem 10rem;
    padding: 3rem;
}

.form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    &-div {
        display: flex;
        flex-direction: column
    }
    &-label {
        @include textTemplate(0.8rem, 400, $smokey-grey);
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        letter-spacing: 0.2rem;
    }
    &-input {
        @include textTemplate(2rem, 700, $smokey-grey);
        padding: 0.5rem 1rem;
        border: 1px solid $light-grey;
        border-radius: 0.5rem;
        max-width: 10rem;
    }
    &-btn {
        border: none;
        background-color: $purple;
        padding: 1rem;
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 50%;
        transform: translateX(50%) translateY(110%);
    }
    &-error {
        @include textTemplate(0.8rem, 400, $light-red);
        font-style: italic;
        margin-top: 0.3rem;
    }
    border-bottom: 1px solid $light-grey;
    padding-bottom: 3rem;
}

.result {
    padding: 2rem 0;
    &-text {
        @include textTemplate(5.5rem, 800, $off-black);
        font-style: italic;
        line-height: 6rem;
    }
    &-number {
        letter-spacing: 1rem;
        color: $purple;
    }
}

.error-border {
    border: 1px solid $light-red !important;
}

.error-text-color {
    color: $light-red !important;
}

@media screen and (max-width: 830px) and (min-width: 700px) {
    .app {
        scale: 0.8;
    }
}

@media screen and (max-width: 700px) {
    .app {
        scale: 0.9;
        width: 100%;
    }
    main {
        height: unset;
        width: 100%;
        padding: 1.5rem;
    }
    
    .form {
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 5px;
        &-div {
            display: flex;
            flex-direction: column
        }
        &-label {
            @include textTemplate(0.75rem, 400, $smokey-grey);
            letter-spacing: 0.2rem;
        }
        &-input {
            @include textTemplate(1.2rem, 700, $smokey-grey);
            max-width: 6.7rem;
        }
        &-btn {
            padding: 0.5rem;
            width: 4.3rem;
            height: 4.3rem;
            transform: translateX(210%) translateY(45%);
        }
        &-icon {
            scale: 0.8;
        }
        &-error {
            @include textTemplate(0.62rem, 400, $light-red);
        }
    }
    .result {
        padding: 4rem 0;
        &-text {
            @include textTemplate(3.8rem, 800, $off-black);
            line-height: 4.5rem;
        }
        &-number {
            letter-spacing: 0.4rem;
        }
    }
}