@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;500;700&family=Koulen&display=swap");

$dark-grey: #353535;
$dark-cyan: #3c6e71;
$white: #ffffff;
$light-gray: #d9d9d9;
$dark-blue: #284b63;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// ANIMATION ON VIEW

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

// NAVBAR STYLE

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  gap: 2em;
  background-color: $light-gray;
  font-family: "Koulen", cursive;
  box-shadow: 0px 1px 13px 0px rgba(60, 110, 113, 0.3);
  border-radius: 0 0 8px 8px;
  z-index: 100;

  .nav-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding-left: 2em;
    color: $dark-cyan;
  }

  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    margin-left: auto;
    padding-right: 2.5em;
    font-size: 1.1em;

    a {
      text-decoration: none;
      color: $dark-blue;
      padding: 0.2em 0.5em;
      border-radius: 0.2em;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: $white;
      }
    }
  }
}

body {
  display: flex;
  flex-direction: column;
}

header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  font-family: "Karma", serif;
  align-self: center;
  max-width: 1440px;
  background-color: $white;

  .img-div {
    z-index: 2;
    align-self: center;
    justify-self: center;
    margin: 4em 0 2em 0;

    img {
      width: 22em;
      border-radius: 50%;
    }
  }

  .middle-bar {
    border-left: 1px solid black;
    height: 60%;
    align-self: center;
    margin-bottom: 2em;
    z-index: 2;
    transition-delay: 200ms;
  }

  .content-div {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 4em 2em 8em 2em;
    z-index: 2;
    transition-delay: 400ms;

    h1 {
      font-size: 2.5em;
      letter-spacing: 0.1em;
      margin-bottom: 0.5em;
      color: $dark-blue;
    }

    p {
      font-size: 1.1em;
      max-width: 30em;
    }

    .emphasis {
      text-decoration: none;
      color: black;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .blob-motion {
    position: absolute;
    z-index: 1;
    transform: translateX(-10%) translateY(-5%);

    #visual {
      width: 100%;
    }
  }
}

// WAVE TRANSITION

.wave1 {
  width: 100%;
  overflow: hidden;
}

.wave1 svg {
  z-index: 2;
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 60px;
}

.wave1 .shape-fill {
  fill: #ffffff;
}

.wave2 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.wave2 .shape-fill {
  fill: #d9d9d9;
}

.wave3 {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
  transform: rotateY(180deg);
}

.wave3 .shape-fill {
  fill: #ffffff;
}

// MAIN CONTENT CHALLENGES

main {
  background-color: $light-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Karma", serif;
  z-index: 2;

  h1 {
    margin: 3em 0 2em 0;
    color: $dark-blue;
  }

  h2 {
    margin-bottom: 1em;
  }

  .grid-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .newbie {
    transition-delay: 200ms;
  }

  .junior {
    transition-delay: 400ms;
  }

  .webpages {
    list-style: none;
    background-color: #3c6e711f;
    padding: 1em;
    transition: 0.3s ease;
    border-radius: 0.5em;
    box-shadow: 0 8px 10px #284b6365;
    &:hover {
      background-color: #74a4a71f;
    }
    li {
      a {
        font-size: 1.2em;
        line-height: 1.8em;
        font-weight: 500;
        text-decoration: none;
        color: $dark-grey;
        transition: 0.3s ease;
        &:hover {
          text-decoration: underline;
          font-size: 1.3em;
        }
      }
    }
  }
}

.newbie__card {
  border-top: 0.4em solid #6abecd;
}

.junior__card {
  border-top: 0.4em solid #aad742;
}

// FOOTER LINKS

footer {
  min-height: 100vh;
  background-color: $dark-blue;

  .content-footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Karma", serif;
    color: $light-gray;
    gap: 1em;
  }

  .head-of-contact {
    text-align: center;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }
  }

  .contact-links {
    a {
      color: $light-gray;
      font-size: 2.2em;
      margin: 0.2em;
      transition: 0.2s ease;
      &:hover {
        color: $white;
        font-size: 2.6em;
      }
    }
  }

  .final-message {
    margin-top: 3em;
    font-size: 2em;
  }
}

// MEDIA RESPONSIVENESS

@media screen and (max-width: 840px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1px 1fr;

    .middle-bar {
      border-top: 1px solid black;
      justify-self: center;
      width: 60%;
      margin-bottom: 2em;
    }
  }
}

@media screen and (max-width: 560px) {
  nav {
    .nav-title {
      font-size: 1.3em;
    }

    ul {
      font-size: 1em;
    }
  }

  main {
    .grid-div {
      grid-template-columns: 1fr;
    }
    .webpages {
      margin-bottom: 2em;
    }
  }

  header {
    .img-div {
      margin-bottom: unset;
      img {
        width: 18em;
        border-radius: 50%;
      }
    }
    .content-div {
      h1 {
        font-size: 2.1em;
      }
    }
    .blob-motion {
      visibility: hidden;
    }
  }
  footer {
    .head-of-contact {
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
}
