@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;500;700&family=Koulen&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  gap: 2em;
  background-color: #D9D9D9;
  font-family: "Koulen", cursive;
  box-shadow: 0px 1px 13px 0px rgba(60, 110, 113, 0.3);
  border-radius: 0 0 8px 8px;
  z-index: 1;
}
nav .nav-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding-left: 2em;
  color: #3C6E71;
}
nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin-left: auto;
  padding-right: 2.5em;
  font-size: 1.1em;
}
nav ul a {
  text-decoration: none;
  color: #284B63;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  transition: 0.3s ease-in-out;
}
nav ul a:hover {
  background-color: #FFFFFF;
}

header {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  font-family: "Karma", serif;
  background-color: #FFFFFF;
}
header .img-div {
  align-self: center;
  justify-self: center;
  margin-bottom: 2em;
}
header .img-div img {
  width: 22em;
  border-radius: 50%;
}
header .middle-bar {
  border-left: 1px solid black;
  height: 60%;
  align-self: center;
  margin-bottom: 2em;
}
header .content-div {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0 2em 8em 2em;
}
header .content-div h1 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  color: #284B63;
}
header .content-div p {
  font-size: 1.1em;
  max-width: 30em;
}
header .content-div .emphasis {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
header .content-div .emphasis:hover {
  text-decoration: underline;
}

.wave1 {
  width: 100%;
  overflow: hidden;
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 60px;
}

.wave1 .shape-fill {
  fill: #FFFFFF;
}

main {
  background-color: #D9D9D9;
  min-height: 100vh;
  text-align: center;
  font-family: "Karma", serif;
}
main h1 {
  margin-top: 3em;
  color: #284B63;
}
main h2 {
  margin-bottom: 1em;
}
main .webpages {
  list-style: none;
}
main .webpages li a {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 500;
  text-decoration: none;
  color: #353535;
}
main .webpages li a:hover {
  text-decoration: underline;
}

.wave2 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.wave2 .shape-fill {
  fill: #D9D9D9;
}

footer {
  min-height: 100vh;
  background-color: #284B63;
}
footer .content-footer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karma", serif;
  color: #D9D9D9;
  gap: 1em;
}
footer .head-of-contact {
  text-align: center;
}
footer .head-of-contact h1 {
  font-size: 2.5em;
}
footer .head-of-contact h2 {
  font-size: 2em;
}
footer .contact-links a {
  color: #D9D9D9;
  font-size: 2.2em;
  margin: 0.2em;
  transition: 0.3s ease;
}
footer .contact-links a:hover {
  color: #FFFFFF;
}
footer .final-message {
  margin-top: 3em;
  font-size: 2em;
}

.wave3 {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
  transform: rotateY(180deg);
}

.wave3 .shape-fill {
  fill: #FFFFFF;
}

@media screen and (max-width: 840px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1px 1fr;
  }
  header .middle-bar {
    border-top: 1px solid black;
    justify-self: center;
    width: 60%;
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 560px) {
  nav .nav-title {
    font-size: 1.3em;
  }
  nav ul {
    font-size: 1em;
  }
  header .img-div {
    margin-bottom: unset;
  }
  header .img-div img {
    width: 18em;
    border-radius: 50%;
  }
  header .content-div h1 {
    font-size: 2.1em;
  }
  footer .head-of-contact h1 {
    font-size: 2em;
  }
  footer .head-of-contact h2 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */