
// - Mobile: 375px
// - Desktop: 1440px

// Primary

$cyan: hsl(179, 62%, 43%);
$cyan2: hsla(179, 62%, 43%, 0.705);
$bright-yellow: hsl(71, 73%, 54%);

// Neutral

$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

// Font size: 16px

$visu: 1px solid black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: $light-gray;
}

.main-div {
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr;
    color: $light-gray;
    box-shadow: 0 0 0.8em gray;
    border-radius: 1em;
    margin: 1.4em;
    h2 {
        font-size: 1.3em;
    }
    div {
        padding: 2.5em;
    }

    .top-card{
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        border-radius: 0.8em 0.8em 0 0;
        h1 {
            color: $cyan;
            padding-bottom: 1em;
            font-size: 1.6em;
        }
        h2 {
            color: $bright-yellow;
            font-size: 1.2em;
        }
        p {
            color: $grayish-blue;
            line-height: 1em;
            padding-top: 1em;
        }
    }

    .left-bottom-card {
        background-color: $cyan;
        border-bottom-left-radius: 0.8em;
        h2 {
            padding-bottom: 1em;
            font-size: 1.3em;
        }
        span {
            font-size: 2.5em;
            padding-right: 0.4em;
        }
        div {
            padding: unset;
            display: flex;
            align-items: center;
            padding-bottom: 1em;
            p {
                color: rgba(255, 255, 255, 0.568);
                font-size: 1.2em;
            }
        }
        .pre-button-p {
            padding-bottom: 2em;
        }
        button {
            padding: 0.8em;
            width: 100%;
            font-size: 1.2em;
            font-weight: 700;
            border: none;
            border-radius: 8px;
            color: $light-gray;
            background-color: $bright-yellow;
            box-shadow: 0 0 8px gray;
            transition: 0.3s ease-in-out;
        }
        button:hover {
            background-color: hsl(71, 62%, 46%);
        }
    }

    .right-bottom-card {
        background-color: $cyan2;
        border-bottom-right-radius: 0.8em;
        ul {
            padding-top: 1.5em;
            li {
                list-style-type: none;
                padding-bottom: 0.3em;
                color: rgba(255, 255, 255, 0.568);
            }
        }
    }
}

@media screen and (max-width: 550px) {
    body {
        height: 100%;
    }
    
    .main-div {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        .top-card{
            grid-column-start: unset;
            grid-column-end: unset;
            grid-row-start: unset;
            grid-row-end: unset;
            border-radius: 0.8em 0.8em 0 0;
        }
        .left-bottom-card {
            border-radius: unset;
        }
        .right-bottom-card {
            border-radius: 0 0 0.8em 0.8em;
        }
    }
}

footer {
    padding: 2em;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    a {
        color: $cyan;
        text-decoration: none;
    }
    a:visited {
        color: $cyan2;
    }
}