@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

// VARIABLES

$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$light-slate-blue-background: hsl(252, 100%, 67%);
$light-royal-blue-background: hsl(241, 81%, 54%);
$violet-blue-circle: hsla(256, 72%, 46%, 1);
$persian-blue-circle: hsla(241, 72%, 46%, 0);
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

// GLOBAL RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

// MIXIN'S

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin text($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin bar($backColor, $textColor) {
  display: flex;
  background-color: $backColor;
  padding: 1rem;
  margin: 1.2rem 0;
  border-radius: 0.5rem;

  &-name {
    color: $textColor;
    margin-left: 0.5rem;
  }

  &-score {
    margin-left: auto;
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.5);
    &-emph {
      color: $dark-gray-blue;
    }
  }
}

// CONTENT

body {
  height: 100dvh;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__card {
  @include size(736px, 512px);
  background-color: $white;
  box-shadow: 0 5px 20px $pale-blue;
  display: grid;
  border-radius: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.left__card {
  text-align: center;
  padding: 2rem 3rem;
  background: linear-gradient(
    $light-slate-blue-background,
    $light-royal-blue-background
  );
  border-radius: 2rem;
  &-title {
    @include text(1.5rem, 700, $light-lavender);
  }

  &-result {
    @include size(12rem, 12rem);
    background: linear-gradient($violet-blue-circle, $persian-blue-circle);
    margin: 2rem auto;
    padding-top: 49px;
    border-radius: 50%;
    &-main {
      @include text(3.5rem, 800, $white);
    }
    &-sec {
      color: $light-lavender;
    }
  }

  &-emph {
    @include text(1.8rem, 500, $white);
    margin-bottom: 1rem;
  }

  &-info {
    @include text(1rem, 400, $pale-blue);
    padding: 0 1.2rem;
  }
}

.right__card {
  padding: 2rem;

  &-title {
    @include text(1.5rem, 700, $dark-gray-blue);
    margin-bottom: 2rem;
  }

  &-results {
    .reaction {
      @include bar(hsla(0, 100%, 67%, 0.1), $light-red);
    }

    .memory {
      @include bar(hsla(39, 100%, 56%, 0.1), $orangey-yellow);
    }

    .verbal {
      @include bar(hsla(166, 100%, 37%, 0.1), $green-teal);
    }

    .visual {
      @include bar(hsla(234, 85%, 45%, 0.1), $cobalt-blue);
    }
  }

  &-btn {
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    background: $dark-gray-blue;
    border: none;
    border-radius: 2rem;
    @include text(1rem, 700, $white);
    cursor: pointer;
    &:hover {
      background: linear-gradient(
        $light-slate-blue-background,
        $light-royal-blue-background
      );
    }
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  a {
    color: $light-royal-blue-background;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 768px) {
  .main__card {
    @include size(100dvw, 100dvh);
    border-radius: unset;
    grid-template-columns: 1fr;
  }
  .left__card {
    text-align: center;
    border-radius: 0 0 2rem 2rem;
    &-result {
      @include size(9rem, 9rem);
      padding-top: 25px;
    }
  }
}
